<%- include('partials/header.ejs') %>

    <body>
        <div class="tm-page-wrap mx-auto">
            <div class="position-relative">

                <%- include('partials/navigation.ejs') %>

                    <div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
                        <div class="text-center">
                            <p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-5 text-white mx-auto">
                                Edit a photo to the catalog
                            </p>
                        </div>
                    </div>

                    <div id="tm-fixed-header-bg"></div> <!-- Header image -->
            </div>

            <!-- Page content -->
            <main>
                <div class="container-fluid px-0">
                    <div class="mx-auto tm-content-container">
                        <div class="row">
                            <div class="col-12">
                                <div class="mx-auto tm-about-text-container px-3">
                                    <h2 class="tm-page-title mb-4 tm-text-primary">Edit a Photo</h2>
                                    <p class="mb-4">
                                        Integer sit amet odio id libero tincidunt dignissim in eget arcu. Aliquam
                                        tristique ut magna sit amet tincidunt. Sed tempor tellus nulla, molestie luctus
                                        lectus tincidunt id. You are <u>not allowed</u> to re-distribute the template
                                        ZIP file on any template collection website.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mx-auto tm-about-text-container px-3">
                            <div class="row">
                                <div class="col-lg-12 mb-5">

                                    <form id="contact-form" action="/photos/<%= photo._id %>?_method=PUT" method="POST" class="tm-contact-form">
                                        <div class="form-group">
                                            <input type="text" name="title" class="form-control rounded-0"
                                                placeholder="Title..." required="" value="<%= photo.title %>" />
                                        </div>

                                        <div class="form-group">
                                            <textarea rows="8" name="description" class="form-control rounded-0"
                                                placeholder="Description..."><%= photo.description %></textarea>
                                        </div>

                                        <div class="form-group mb-0">
                                            <button type="submit"
                                                class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Edit</span></button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <div class="container-fluid tm-content-container mx-auto pt-4">
                <%- include('partials/footer.ejs') %>
